<p id="notice"><%= notice %></p>

<p>
  <b>Purchase:</b>
  <%= @purchase_detail.purchase %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase_detail.product %>
</p>

<p>
  <b>Quantity:</b>
  <%= @purchase_detail.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase_detail.price %>
</p>

<p>
  <b>Discount:</b>
  <%= @purchase_detail.discount %>
</p>

<p>
  <b>Added discount:</b>
  <%= @purchase_detail.added_discount %>
</p>

<p>
  <b>Amount:</b>
  <%= @purchase_detail.amount %>
</p>


<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |
<%= link_to 'Back', purchase_details_path %>
