<%= will_paginate @unit_of_measures, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'unit.name' %></th>
    <th></th>
  </tr>

<% @unit_of_measures.each do |unit_of_measure| %>
  <tr>
    <td><%= unit_of_measure.name %></td>
    <td class="text-right">
    	<%= link_to "#{t 'edit'}", edit_unit_of_measure_path(unit_of_measure), :class => "btn btn-warning btn-xs", :remote => true %>
    	<%= link_to "#{t 'delete'}", unit_of_measure, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @unit_of_measures, :class => "apple_pagination" %>