<table id="product_detail_table" class="table">
  <tr>
    <th><%= t 'product.detail.unit_of_measure' %></th>
    <th><%= t 'product.detail.sales_price' %></th>
    <th class="text-right"><%= link_to "#{t 'new'}", new_product_product_detail_path(@product), :class => "btn btn-default btn-xs", :remote => true %></th>
  </tr>

<% @product.details.each do |product_detail| %>
  <tr>
    <td><%= product_detail.try(:unit_of_measure).try(:name) %></td>
    <td><%= precision(product_detail.sales_price) %></td>
    <td class="text-right">
      <%= link_to "#{t 'edit'}", edit_product_product_detail_path(@product, product_detail), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "#{t 'delete'}", product_product_detail_path(@product, product_detail), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>