<table id="supplier_category_table" class="table">
  <tr style="background-color:#708DC6;">
    <th><%= t 'supplier.category.category' %></th>
    <th><%= t 'supplier.category.notes' %></th>
    <th class="text-right"><%= link_to "#{t 'new'}", new_supplier_supplier_category_path(@supplier), :class => "btn btn-default btn-xs", :remote => true %></th>
  </tr>

<% @supplier.categories.each do |supplier_category| %>
  <tr>
    <td><%= supplier_category.category.try(:name) %></td>
    <td><%= supplier_category.notes %></td>
    <td class="text-right">
      <%= link_to "#{t 'edit'}", edit_supplier_supplier_category_path(@supplier, supplier_category), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "#{t 'delete'}", supplier_supplier_category_path(@supplier, supplier_category), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>