<h1>Listing product_purchases</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Supplier</th>
    <th>Purchase date</th>
    <th>Purchase price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_purchases.each do |product_purchase| %>
  <tr>
    <td><%= product_purchase.product %></td>
    <td><%= product_purchase.supplier %></td>
    <td><%= product_purchase.purchase_date %></td>
    <td><%= product_purchase.purchase_price %></td>
    <td><%= link_to 'Show', product_purchase %></td>
    <td><%= link_to 'Edit', edit_product_purchase_path(product_purchase) %></td>
    <td><%= link_to 'Destroy', product_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product purchase', new_product_purchase_path %>
