<h1>Listing customer_phones</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Country ext</th>
    <th>Phone number</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customer_phones.each do |customer_phone| %>
  <tr>
    <td><%= customer_phone.customer %></td>
    <td><%= customer_phone.country_ext %></td>
    <td><%= customer_phone.phone_number %></td>
    <td><%= customer_phone.description %></td>
    <td><%= link_to 'Show', customer_phone %></td>
    <td><%= link_to 'Edit', edit_customer_phone_path(customer_phone) %></td>
    <td><%= link_to 'Destroy', customer_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer phone', new_customer_phone_path %>
