<%= form_for(@purchase, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :pi_id, "#{t 'purchase.pi_id'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-6"><%= f.text_field :pi_id, :placeholder => "#{t 'purchase.pi_id_placeholder'}", :readonly => true, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :transaction_date, "#{t 'purchase.transaction_date'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-6"><%= f.text_field :transaction_date, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :supplier, "#{t 'purchase.supplier'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-6"><%= f.select(:supplier_id, @suppliers.collect {|supplier| [supplier.name, supplier.id,]}, {:prompt => "#{t 'prompt'} #{t 'purchase.supplier'}"}, :class => "form-control") %></div>
  </div>
  <div class="form-group">
    <%= f.label :notes, "#{t 'purchase.notes'}", :class => "col-sm-4 control-label" %>
    <div class="col-sm-6"><%= f.text_area :notes, :rows => 3, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><%= f.submit "#{t 'submit'}", :class => "btn btn-success btn-block", :disable_with => "#{t 'disable_with'}" %></div>
  </div>
<% end %>
