<table class="table table-condensed">
  <tr>
    <th><%= t 'purchase.pi_id' %></th>
    <td><b>:</b>&nbsp;<%= @purchase.pi_id %></td>
    <th><%= t 'purchase.transaction_date' %></th>
    <td><b>:</b>&nbsp;<%= @purchase.transaction_date %></td>
  </tr>
  <tr>
    <th><%= t 'purchase.supplier' %></th>
    <td><b>:</b>&nbsp;<%= @purchase.supplier_name %></td>
    <th><%= t 'purchase.notes' %></th>
    <td><b>:</b>&nbsp;<%= @purchase.notes %></td>
  </tr>
</table>