<%=# will_paginate @purchases, :class => "apple_pagination" 
%>

<table class="table table-condensed">
  <tr>
    <th><%= t 'purchase.pi_id' %></th>
    <th><%= t 'purchase.transaction_date' %></th>
    <th><%= t 'purchase.supplier' %></th>
    <th><%= t 'purchase.notes' %></th>
    <th><%= t 'purchase.total_amount' %></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.pi_id %></td>
    <td><%= purchase.transaction_date %></td>
    <td><%= purchase.supplier_name %></td>
    <td><%= purchase.notes %></td>
    <td><%= purchase.total_amount %></td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", purchase, :class => "btn btn-primary btn-xs" %>
        <%= link_to "#{t 'edit'}", edit_purchase_path(purchase), :class => "btn btn-warning btn-xs" %>
    </td>
  </tr>
<% end %>
</table>

<%=# will_paginate @purchases, :class => "apple_pagination" 
%>