<%= will_paginate @customer_groups, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'group.initial' %></th>
    <th><%= t 'group.name' %></th>
    <th><%= t 'group.description' %></th>
    <th><%= t 'group.formula' %></th>
    <th></th>
  </tr>

<% @customer_groups.each do |customer_group| %>
  <tr>
    <td><%= customer_group.initial %></td>
    <td><%= customer_group.name %></td>
    <td><%= customer_group.description %></td>
    <td>
      <b><%= customer_group.selected_price_called %></b>
      &nbsp;<b><big>*</big></b>&nbsp;
      <b><%= customer_group.formula %></b>
    </td>
    <td class="text-right">
        <%= link_to "#{t 'edit'}", edit_customer_group_path(customer_group), :class => "btn btn-warning btn-xs", :remote => true %>
        <%= link_to "#{t 'delete'}", customer_group, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @customer_groups, :class => "apple_pagination" %>