<%= will_paginate @customers, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'customer.name' %></th>
    <th><%= t 'customer.group' %></th>
    <th><%= t 'customer.contact_person' %></th>
    <th><%= t 'customer.join_date' %></th>
    <th><%= t 'customer.address' %></th>
    <th><%= t 'customer.city' %></th>
    <th><%= t 'customer.province' %></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.customer_group_name %></td>
    <td><%= customer.contact_person %></td>
    <td><%= date(customer.join_date) %></td>
    <td><%= customer.address %></td>
    <td><%= customer.city.try(:name) %></td>
    <td><%= customer.province.try(:name) %></td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", customer, :class => "btn btn-primary btn-xs" %>
        <%= link_to "#{t 'edit'}", edit_customer_path(customer), :class => "btn btn-warning btn-xs", :remote => true %>
        <%= link_to "#{t 'delete'}", customer, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @customers, :class => "apple_pagination" %>