<%= form_tag sale_filter_report_index_path, :method => "get", :class => "form-horizontal", :remote => true do %>
<div class="form-group">
  <div class="col-sm-2">
    <%= text_field_tag 'transaction_start_date','', :placeholder => "#{t 'report.start_date'}", :class => "form-control", :onMouseOver => "$(this).datepicker({dateFormat: 'yy-mm-dd', showButtonPanel: true, changeMonth: true, changeYear: true, yearRange: '-5:+0'})" %>
  </div>
  <div class="col-sm-2">
    <%= text_field_tag 'transaction_end_date','', :placeholder => "#{t 'report.end_date'}", :class => "form-control", :onMouseOver => "$(this).datepicker({dateFormat: 'yy-mm-dd', showButtonPanel: true, changeMonth: true, changeYear: true, yearRange: '-5:+0'})" %>
  </div>
  <div class="col-sm-2">
    <%= select_tag(:customer_id, options_from_collection_for_select(@customers, 'id', 'name'), :prompt => "#{t 'search'} #{t 'customer.customer'}", :class => "form-control") %>
  </div>
  <div class="col-sm-2">
    <%= select_tag(:sort, options_for_select([
      ["#{t 'report.order'}", ""],
      ["#{t 'sale.transaction_date'} (A-Z)", "date_asc"],
      ["#{t 'sale.transaction_date'} (Z-A)", "date_dsc"], 
      ["#{t 'sale.customer'} (A-Z)", "customer_asc"], 
      ["#{t 'sale.customer'} (Z-A)", "customer_dsc"], 
      ["#{t 'sale.total_amount'} (1-9)", "amount_asc"], 
      ["#{t 'sale.total_amount'} (9-1)", "amount_dsc"]]), :class => "form-control") %>
  </div>
  <div class="col-sm-2">
    <%= select_tag(:status, options_for_select([
      ["#{t 'search'} #{t 'sale.status_short'}", ""],
      ["#{t 'new'}", "0"],
      ["#{t 'close'}", "1"], 
      ["#{t 'void'}", "5"]]), :class => "form-control") %>
  </div>
  <div class="col-sm-2">
    <%= submit_tag "#{t 'process'}", :disable_with => "#{t 'disable_with'}", :class => "btn btn-success" %>
    <%= link_to "#{t 'reset'}", sale_report_index_path, :class => "btn btn-default" %>
  </div>
</div>
<% end %>