<h1>Listing adjustment_details</h1>

<table>
  <tr>
    <th>Adjustment</th>
    <th>Product</th>
    <th>Quatity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adjustment_details.each do |adjustment_detail| %>
  <tr>
    <td><%= adjustment_detail.adjustment %></td>
    <td><%= adjustment_detail.product %></td>
    <td><%= adjustment_detail.quatity %></td>
    <td><%= link_to 'Show', adjustment_detail %></td>
    <td><%= link_to 'Edit', edit_adjustment_detail_path(adjustment_detail) %></td>
    <td><%= link_to 'Destroy', adjustment_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adjustment detail', new_adjustment_detail_path %>
