<p id="notice"><%= notice %></p>

<p>
  <b>Adjustment:</b>
  <%= @adjustment_detail.adjustment %>
</p>

<p>
  <b>Product:</b>
  <%= @adjustment_detail.product %>
</p>

<p>
  <b>Quatity:</b>
  <%= @adjustment_detail.quatity %>
</p>


<%= link_to 'Edit', edit_adjustment_detail_path(@adjustment_detail) %> |
<%= link_to 'Back', adjustment_details_path %>
