<div class="row">
  <div class="col-md-4">
    <%= link_to adjustments_path, :class => "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<%= t 'back' %>
    <% end %>

    <%= link_to import_adjustment_path(@adjustment), :class => "btn btn-success btn-sm", :remote => true do %>
      <span class="glyphicon glyphicon-open"></span>&nbsp;<%= t 'import_excel' %>
    <% end %>
  </div>
  
  <div class="col-md-4">
    <h4 align="center"><%= t 'adjustment.adjustment' %> - <%= t 'detail' %></h4>
  </div>

  <div class="col-md-4" align="right">
    <% if @adjustment.status==0 %>
      <%= form_for(@adjustment) do |f| %>
        <%= link_to print_sticker_adjustment_path(@adjustment, :format => "pdf"), :target => "_blank", :class => "btn btn-warning btn-sm" do %>
          <%= "#{t 'print'} #{t 'product.sticker'}" %>&nbsp;<span class="glyphicon glyphicon-print"></span>
        <% end %>

        <%= f.hidden_field :status, :value => 1 %>
        <%= button_tag :type => "submit", :class => "btn btn-success btn-sm", :disable_with => "#{t 'disable_with'}" do %>
          <%= t 'close' %>&nbsp;<span class="glyphicon glyphicon-lock"></span>
        <% end -%>

        <%= link_to edit_adjustment_path(@adjustment), :class => "btn btn-warning btn-sm" do %>
          <%= t 'edit' %>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      <% end -%>
    <% elsif @adjustment.status==1 %>
      <%= form_for(@adjustment) do |f| %>
        <%= link_to print_sticker_adjustment_path(@adjustment, :format => "pdf"), :target => "_blank", :class => "btn btn-warning btn-sm" do %>
          <%= "#{t 'print'} #{t 'product.sticker'}" %>&nbsp;<span class="glyphicon glyphicon-print"></span>
        <% end %>

        <%= link_to print_barcode_adjustment_path(@adjustment, :format => "pdf"), :target => "_blank", :class => "btn btn-warning btn-sm" do %>
          <%= "#{t 'print'} #{t 'product.barcode_id'}" %>&nbsp;<span class="glyphicon glyphicon-barcode"></span>
        <% end %>

        <%= f.hidden_field :status, :value => 5 %>
        <%= button_tag :type => "submit", :class => "btn btn-danger btn-sm", :disable_with => "#{t 'disable_with'}", data: { confirm: "#{t 'confirm'}" } do %>
          <%= t 'void' %>&nbsp;<span class="glyphicon glyphicon-lock"></span>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>

<div class="status_<%= @adjustment.status.to_i %>" align="center">
  <% case @adjustment.status.to_i %>
  <% when 0 %>
    <%= "#{t 'adjustment.status'}#{t 'new'} #{t 'adjustment.editable'}" %>, <%= "#{t 'adjustment.created_at'}#{date(@adjustment.created_at)}" %>
  <% when 1 %>
    <%= "#{t 'adjustment.status'}#{t 'close'} #{t 'adjustment.uneditable'}" %>, <%= "#{t 'adjustment.updated_at'}#{date(@adjustment.updated_at)}" %>
  <% when 5 %>
    <%= "#{t 'adjustment.status'}#{t 'void'} #{t 'adjustment.uneditable'}" %>, <%= "#{t 'adjustment.updated_at'}#{date(@adjustment.updated_at)}" %>
    <% end -%>
</div>

<div id="show_header_section"><%= render 'show_header' %></div>
<div id="detail_section"><%= render 'adjustment_details/table' %></div>

<div id="modal"></div>

<!-- Modal -->
<div id="general_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="BranchModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:900px;">
    <div class="modal-content" style="width:1000px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>