<table class="table table-condensed">
  <tr>
    <th><%= t 'product.category' %></th>
    <td><b>:</b>&nbsp;<%= @product.category_name %></td>
    <th><%= t 'product.barcode_id' %></th>
    <td><b>:</b>&nbsp;<%= @product.barcode_id %></td>
  </tr>
  <tr>
    <th><%= t 'product.name' %></th>
    <td><b>:</b>&nbsp;<%= @product.name %></td>
    <th><%= t 'product.product_type' %></th>
    <td><b>:</b>&nbsp;<%= @product.product_type %></td>
  </tr>
  <tr>
    <th><%= t 'product.merk' %></th>
    <td><b>:</b>&nbsp;<%= @product.merk %></td>
    <th><%= t 'product.size' %></th>
    <td><b>:</b>&nbsp;<%= @product.size %></td>
  </tr>
  <tr>
    <th><%= t 'product.unit_of_measure' %></th>
    <td><b>:</b>&nbsp;<%= @product.unit_of_measure_name %></td>
    <th><%= t 'product.sales_price' %></th>
    <td><b>:</b>&nbsp;<%= @product.sales_price %></td>
  </tr>
</table>