<%= will_paginate @products, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'product.barcode' %></th>
    <th><%= t 'product.name' %></th>
    <th><%= t 'product.product_type' %></th>
    <th><%= t 'product.merk' %></th>
    <th><%= t 'product.size' %></th>
    <th><%= t 'product.supplier' %></th>
    <th><%= t 'product.sales_price' %></th>
    <th>Bakul/Toko</th>
    <th>Bengkel/Montir</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.barcode_id %></td>
    <td><%= product.name %></td>
    <td><%= product.product_type %></td>
    <td><%= product.merk %></td>
    <td><%= product.size %></td>
    <td><%= product.supplier.try(:name) %></td>
    <td><%= product.sales_price.to_f %></td>
    <td>
        <% if @store_cust_group.selected_price.to_i==1 %>
            <%= product.sales_price.to_f * @store_cust_group.formula.to_f %>
        <% elsif @store_cust_group.selected_price.to_i==2 %>
            <%= product.purchases.last.try(:purchase_price).to_f * @store_cust_group.formula.to_f %>
        <% else %>
            0
        <% end %>
    </td>
    <td>
        <% if @workshop_cust_group.selected_price.to_i==1 %>
            <%= product.sales_price.to_f * @workshop_cust_group.formula.to_f %>
        <% elsif @workshop_cust_group.selected_price.to_i==2 %>
            <%= product.purchases.last.try(:purchase_price).to_f * @workshop_cust_group.formula.to_f %>
        <% else %>
            0
        <% end %>
    </td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", product, :class => "btn btn-primary btn-xs" %>
        <%= link_to "#{t 'edit'}", edit_product_path(product), :class => "btn btn-warning btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @products, :class => "apple_pagination" %>