<%= will_paginate @suppliers, :class => "apple_pagination" %>

<table class="table table-condensed">
  <tr style="background-color:#708DC6;">
    <th><%= t 'supplier.name' %></th>
    <th><%= t 'supplier.contact_person' %></th>
    <th><%= t 'supplier.join_date' %></th>
    <th><%= t 'supplier.address' %></th>
    <th><%= t 'supplier.city' %></th>
    <th><%= t 'supplier.province' %></th>
    <th></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%= supplier.name %></td>
    <td><%= supplier.contact_person %></td>
    <td><%= date(supplier.join_date) %></td>
    <td><%= supplier.address %></td>
    <td><%= supplier.city.try(:name) %></td>
    <td><%= supplier.province.try(:name) %></td>
    <td class="text-right">
        <%= link_to "#{t 'show'}", supplier, :class => "btn btn-primary btn-xs" %>
        <%= link_to "#{t 'edit'}", edit_supplier_path(supplier), :class => "btn btn-warning btn-xs", :remote => true %>
        <%= link_to "#{t 'destroy'}", supplier, method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @suppliers, :class => "apple_pagination" %>