<%= form_tag product_filter_index_path, :method => "get", :class => "form-horizontal", :remote => true do %>
<div class="form-group">
	<!-- 
	<div class="col-sm-7">
	  <%= text_field_tag 'name','', :placeholder => "#{t 'search'} #{t 'product.product'}", :class => "form-control" %>
	</div>
	 -->

	<div class="col-sm-2"><%= text_field_tag :keyword, nil, :placeholder => "#{t 'product.name'}", :class => "form-control" %></div>
  <div class="col-sm-2"><%= text_field_tag :product_type, nil, :placeholder => "#{t 'product.product_type'}", :class => "form-control" %></div>
  <div class="col-sm-2"><%= text_field_tag :merk, nil, :placeholder => "#{t 'product.merk'}", :class => "form-control" %></div>
  <div class="col-sm-1"><%= text_field_tag :size, nil, :placeholder => "#{t 'product.size'}", :class => "form-control" %></div>
  
	<div class="col-sm-3">
	  <%= select_tag(:supplier_id, options_from_collection_for_select(@suppliers, 'id', 'name'), :prompt => "#{t 'search'} #{t 'supplier.supplier'}", :class => "form-control") %>
	</div>
	<div class="col-sm-2">
	  <%= submit_tag "#{t 'process'}", :disable_with => "#{t 'disable_with'}", :class => "btn btn-success" %>
	  <%= link_to "#{t 'reset'}", products_path, :class => "btn btn-default" %>
	</div>
</div>
<% end %>