<%= form_tag province_filter_index_path, :method => "get", :class => "form-horizontal", :remote => true do %>
<div class="form-group">
	<div class="col-sm-5">
	  <%= select_tag(:country_id, options_from_collection_for_select(@countries, 'id', 'name'), :prompt => "#{t 'search'} #{t 'country.country'}", :class => "form-control") %>
	</div>
	<div class="col-sm-5">
	  <%= text_field_tag 'name','', :placeholder => "#{t 'search'} #{t 'province.province'}", :class => "form-control" %>
	</div>
	<div class="col-sm-2">
	  <%= submit_tag "#{t 'process'}", :disable_with => "#{t 'disable_with'}", :class => "btn btn-success" %>
	  <%= link_to "#{t 'reset'}", provinces_path, :class => "btn btn-default" %>
	</div>
</div>
<% end %>