<%= will_paginate @customers, :params => {:controller => "sales", :action => "show_customer", :keyword => @keyword}, :class => "apple_pagination" %>

<table class="table table-condensed table-striped">
  <tr>
    <th width="1%"></th>
    <th><%= t 'customer.name' %></th>
    <th><%= t 'customer.contact_person' %></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td>
        <%= link_to pick_customer_sales_path(:customer_id => customer.id), :remote => true, :class => "btn btn-default btn-xs" do %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end -%>
    </td>
    <td><%= customer.name %></td>
    <td><%= customer.contact_person %></td>
  </tr>
<% end %>
</table>