<table class="table table-condensed">
  <tr>
    <th><%= t 'sale.si_id' %></th>
    <td><b>:</b>&nbsp;<%= @sale.si_id %></td>
    <th><%= t 'sale.transaction_date' %></th>
    <td><b>:</b>&nbsp;<%= date(@sale.transaction_date) %></td>
  </tr>
  <tr>
    <th><%= t 'sale.customer' %></th>
    <td><b>:</b>&nbsp;<%= @sale.customer_name %></td>
    <th><%= t 'sale.notes' %></th>
    <td><b>:</b>&nbsp;<%= @sale.notes %></td>
  </tr>
</table>