<!DOCTYPE html>
<html>
<head>
  <title>LancarAbadi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation" id="show">
		<div class="container">
		  <div class="row">
			  <% if user_signed_in? %>
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <a class="navbar-brand" href="/">
			    	<%= company_name %>
			    </a>
			  </div>
				  <!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				    	<!-- TRANSACTION -->
		          <!-- CHECK IF TRANSACTION HAD LIST OF MENU TO SHOW -->
		          <% @count=0 %>
		          <% @main_menus.each do |menu| %><!-- looping menus -->
		            <% if menu.visible==true %><!-- check if menu visible -->
		              <% if can? :create, "#{menu.url}" %><!-- cancan authority -->
		                <% if menu.name!="separator" %><!-- check if separator -->
		                  <% @count+=1 %>
		                <% end %><!-- check if separator -->
		              <% end %><!-- cancan authority -->
		            <% end %><!-- check if menu visible -->
		          <% end %><!-- looping menus -->

		          <% if @count!=0 %>
	              <!-- GENERATE TRANSACTION MENU BASED ON USER GROUP AND CANCAN
	                   Purchase, Sale, Product, Customer, Supplier -->
	              <% @main_menus.each do |menu| %><!-- looping menus -->
	                <% if menu.visible==true %><!-- check if menu visible -->
	                  <% if can? :create, "#{menu.url}" %><!-- cancan authority -->
	                    <% if menu.name!="separator" %><!-- check if separator -->
	                      <li><a href="<%= menu.url %>"><%= t "layout.transaction.#{(menu.name).underscore}" %></a></li>
	                    <% else %><!-- check if separator -->
	                      <li class="divider"></li>
	                    <% end %><!-- check if separator -->
	                  <% end %><!-- cancan authority -->
	                <% end %><!-- check if menu visible -->
	              <% end %><!-- looping menus -->
		          <% end %>
		          <!-- END TRANSACTION MENU -->

		          <!-- SETTING -->
		          <!-- CHECK IF SETTING HAD LIST OF MENU TO SHOW -->
		          <% @count=0 %>
		          <% @setting_menus.each do |menu| %><!-- looping menus -->
		            <% if menu.visible==true %><!-- check if menu visible -->
		              <% if can? :create, "#{menu.url}" %><!-- cancan authority -->
		                <% if menu.name!="separator" %><!-- check if separator -->
		                  <% @count+=1 %>
		                <% end %><!-- check if separator -->
		              <% end %><!-- cancan authority -->
		            <% end %><!-- check if menu visible -->
		          <% end %><!-- looping menus -->

		          <% if @count!=0 %>
		          <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>&nbsp;<%= t 'layout.setting.setting' %> <b class="caret"></b></a>
			          <ul class="dropdown-menu">
		              <!-- GENERATE SETTING MENU BASED ON USER GROUP AND CANCAN
		                   User Menu, User Group, Company Profile -->
		              <% @setting_menus.each do |menu| %><!-- looping menus -->
		                <% if menu.visible==true %><!-- check if menu visible -->
		                  <% if can? :create, "#{menu.url}" %><!-- cancan authority -->
		                    <% if menu.name!="separator" %><!-- check if separator -->
		                      <li><a href="<%= menu.url %>"><%= t "layout.setting.#{(menu.name).underscore}" %></a></li>
		                    <% else %><!-- check if separator -->
		                      <li class="divider"></li>
		                    <% end %><!-- check if separator -->
		                  <% end %><!-- cancan authority -->
		                <% end %><!-- check if menu visible -->
		              <% end %><!-- looping menus -->
		            </ul>
		          </li>
		          <% end %>
		          <!-- END SETTING MENU -->

				    </ul>

				  <p class="navbar-text navbar-right">Login as <%= current_user.try(:username) %> (<u><%= link_to "#{t 'logout'}", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></u>)</p>
				  </div><!-- /.navbar-collapse -->
			  <% end %>
			</div>
		</div>
	</nav>
	
	<div class="container">
	  <div class="row">
	  	<% if notice %>
			  <p id="show" class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
			  <p id="show" class="alert alert-danger"><%= alert %></p>
			<% end %>
	  	
		  <%= yield %>
	  </div>
	</div>
</body>
</html>
