<table id="sale_detail_table" class="table">
  <tr>
    <th><%= t 'sale.detail.product' %></th>
    <th class="text-right"><%= t 'sale.detail.quantity' %></th>
    <th class="text-right"><%= t 'sale.detail.price' %></th>
    <th class="text-right"><%= t 'sale.detail.discount' %></th>
    <th class="text-right"><%= t 'sale.detail.added_discount' %></th>
    <th class="text-right"><%= t 'sale.detail.amount' %></th>
    <th class="text-right"><%= link_to "#{t 'new'}", new_sale_sale_detail_path(@sale), :class => "btn btn-default btn-xs", :remote => true %></th>
  </tr>

<% @sale.details.each do |sale_detail| %>
  <tr>
    <td><%= sale_detail.product_detail %></td>
    <td class="text-right"><%= sale_detail.quantity %></td>
    <td class="text-right"><%= sale_detail.price %></td>
    <td class="text-right"><%= sale_detail.discount %></td>
    <td class="text-right"><%= sale_detail.added_discount %></td>
    <td class="text-right"><%= sale_detail.amount %></td>
    <td class="text-right">
      <%= link_to "#{t 'edit'}", edit_sale_sale_detail_path(@sale, sale_detail), :class => "btn btn-warning btn-xs", :remote => true %>
      <%= link_to "#{t 'destroy'}", sale_sale_detail_path(@sale, sale_detail), method: :delete, data: { confirm: "#{t 'confirm'}" }, :class => "btn btn-danger btn-xs", :remote => true %>
    </td>
  </tr>
<% end %>
</table>