<table id="sale_detail_table" class="table table-condensed table-bordered">
  <tr>
    <th><%= t 'row_number' %></th>
    <th><%= t 'sale.detail.product' %></th>
    <th class="text-right"><%= t 'sale.detail.quantity' %></th>
    <th class="text-center"><%= t 'sale.detail.unit' %></th>
    <th class="text-right"><%= t 'sale.detail.price_rp' %></th>
    <th class="text-right"><%= t 'sale.detail.discount_%' %></th>
    <th class="text-right"><%= t 'sale.detail.amount_rp' %></th>
    <th class="text-right" id="button_column"><%= link_to "#{t 'new'}", new_sale_sale_detail_path(@sale), :id => "btn", :class => "btn btn-default btn-xs", :remote => true if @sale.status==0 %></th>
  </tr>

<% row_number=0; @sale.details.each do |sale_detail| %>
  <tr>
    <td class="text-right"><%= row_number+=1 %>.</td>
    <td><%= sale_detail.product_detail %></td>
    <td class="text-right"><%= round_precision(sale_detail.quantity) %></td>
    <td class="text-center"><%= sale_detail.try(:unit_of_measure).try(:name) %></td>
    <td class="text-right"><%= precision(sale_detail.price) %></td>
    <td class="text-right"><%= precision(sale_detail.discount) %></td>
    <td class="text-right"><%= precision(sale_detail.amount) %></td>
    <td class="text-right" id="button_column">
      <%= link_to "#{t 'edit'}", edit_sale_sale_detail_path(@sale, sale_detail), :id => "btn", :class => "btn btn-warning btn-xs", :remote => true if @sale.status==0 %>
      <%= link_to "#{t 'delete'}", sale_sale_detail_path(@sale, sale_detail), method: :delete, data: { confirm: "#{t 'confirm'}" }, :id => "btn", :class => "btn btn-danger btn-xs", :remote => true if @sale.status==0 %>
    </td>
  </tr>
<% end %>
</table>